/* SEARCH PANEL STYLES */

.search-panel {
	background-color: #222;
    width: 540px !important;
}

.search-panel > li {
	padding: 10px;
    padding-left: 20px;
	color: #fff;
}

.search-panel .wrapper {
	width: 100%;
	height: auto;
	padding: 5px;
}

.search-column {
    width: 32%;
	display: inline-block;
	vertical-align: top;
}

.search-column div {
	display: block;
}

.search-column .search-title {
	margin-bottom: 20px;
	text-transform: uppercase;
}

.search-content span {
	display: block;
	padding: 5px 0;
    cursor: pointer;
}

.search-content span:hover {
    color: #ed9c28;
}

.search-content span.active {
    color: #ed9c28;
}

.btn-search {
	float: right;
	margin-bottom: 10px;
    margin-top: -30px;
	background-color: transparent;
	color: #fff;
}

/*@media (min-width: 768px) {*/
	/*.search-panel {*/
		/*width: 750px;*/
	/*}*/
/*}*/
/**/
/*@media (min-width: 992px) {*/
	/*.search-panel {*/
		/*width: 970px;*/
	/*}*/
/*}*/

/* ACCOUNT MENU STYLES  */

.account li {
    border-right: none !important;
}

/* Notifications styles: */

.ui-pnotify .alert-success {
    color: #fff;
    background-color: #50B40E;
    border-color: #50B40E;
}

.ui-pnotify .alert-warning {
    color: #fff;
    background-color: #c83700;
    border-color: #b43500;
}

.product-item-badge.in-basket {
    background-color: #c83700;
}
/* Cart styles: */

#cart-table, #empty-cart-text {
    display: none;
}